@import "./base.css";

.home .main__heading {
  font-size: 8rem;
  font-weight: bold;
}
.home .main__sub-heading {
  font-size: 2.5rem;
}

.button-container {
  display: flex;
  margin-top: 6.25rem;
}

.button__icon {
  vertical-align: middle;
}
.home .menu path {
  fill: var(--color-text-on-primary);
}
.home .close path {
  fill: var(--color-text-on-primary);
}
@media (max-width: 1220px) {
  .home .main__heading {
    font-size: 70px;
  }
}
@media (max-width: 590px) {
  .home .main__heading {
    font-size: 40px;
  }
  .home .main__sub-heading {
    font-size: 24px;
  }
}
